@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  nav {
    visibility: visible;
    transform: translateY(0);
    background: transparent;
    height: 10vh;
    padding: 3rem 2rem;

    .menu-nav {
      width: 100%;
      flex-direction: row;

      &__item {
        transform: translateY(0);
        margin-left: 1rem;
        font-size: 1.5rem;
        transition: none;
      }
    }
  }

  .projects {
    &__img {
      height: 60vh;
    }

    &__items {
      width: 80vw;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .about {
    &__me {
      p {
        text-align: center;
        line-height: 2;
      }
    }
  }
}

@include media-lg {
  .about {
    &__img {
      height: 57vh;
    }

    &__cont {
      flex-direction: row;
      height: 43vh;
      width: 90%;
      margin: auto;
    }
    &__me {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      p {
        text-align: center;
        line-height: 2;
      }
    }
  }

  .projects {
    &__items {
      width: 60vw;
      grid-template-rows: repeat(1, 1fr);
    }
  }

  .contact {
    &__list {
      width: 70%;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@include media-xl {
  .about {
    &__img {
      height: 60vh;
    }

    &__cont {
      height: 40vh;
      width: 90%;
      margin: auto;
    }
  }
}
